ul {
    list-style-type: none;

}

li {
    display: inline;
    float: right;

}

/*a {*/
    /*display: block;*/
    /*padding: 8px;*/
/*}*/

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

li a:hover {
    background-color: #111;
}

h1{
float: left;
    font-size: 40px;


}

header{
    display: block;
    color: white;
    overflow: hidden;
    background-color: #333;
}