ul {
    list-style-type: none;

}

li {
    display: inline;
    float: right;

}

/*a {*/
    /*display: block;*/
    /*padding: 8px;*/
/*}*/

li a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;

}

li a:hover {
    background-color: #111;
}

h1{
float: left;
    font-size: 30px;
    margin: 10px;

}

header{
    display: block;
    color: white;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}