html{
  margin: 0;
  padding: 0;
}

a a:visited a/:hover a:active{
  color : none;
}

header{
  background: white;
  background-size: cover;
  width: 100%;
  display: inline-block;
  text-align: right;
  height: 60px;
  color:  #91bbbe;
}

#filterButtons {
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
}


h1{
  padding-right: 40px;
  font-size: 14px;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  padding-top: 15px;
  font-weight: bold;
}

h2{
  color: white;
  text-align: center;
  background-color: darkgray;
  margin-left: 340px;
  margin-right: 50px;
  border: 4px solid black;

}

a img {
  width: 20px;
  height: 20px;
  float: right;
  display: inline-block;
  padding-top: 20px;
  padding-right: 710px;
}

body{
  margin: 0;
  padding: 0;
  background: url(./images/background.png) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.playground {
  position: absolute;
  left: 340px;
  top: 120px;
  right: 50px;
  border: 4px solid black;
}

.margin {
  margin: 10px;
}

#video{
  margin-left: 5px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  //padding: 3px;
  //margin-right: 8px;
  margin-bottom: 8px;
  color: white;
  background: linear-gradient(#79bc64, #578843);
  border: none;
  border-radius: 2px;
}

button:active,
button.active {
  background-color: #417cb8;
  transform: translateY(2px) translateX(1px);
}

.photo {
  box-shadow: 3px 3px 3px #888888;
  padding: 12px;
  background-color: white;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#select {
  font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: white;
    background-color: black;
    display: inline-block;
    margin-left: 10px;
    color: white;
    background: black;;
    border: none;
    cursor: pointer;

}

#select:hover {
    background-color: darkgray;
}

#choose{
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  padding: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: white;
  background: linear-gradient(#79bc64, #578843);
  border: none;
}

form img{
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

#effect{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

#dog, #heart, #snake, #cadre{
  margin-left: 100px;
}

.hero {
  width:960px;
  margin:1rem auto;
  position: relative;
}

.text {
  position: absolute;
  top:50%;
  left:0;
  padding:1rem;
  transform:translateY(-50%);
  background-image: url('./images/chien.png');
  background-repeat: no-repeat;
  display:none;
  z-index:9999;
  display:hidden;
  width: 100%;
  height: 100%;

}

/*#video{
  width:100%;
  overflow: hidden;
  position:relative;
  z-index:10;
}*/
