html{
  margin: 0;
  padding: 0;
}

a a:visited a/:hover a:active{
  color : none;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
  background-size: cover;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

header{
    display: block;
    color: white;
    background-color: #333;
    height: 52px;
    position: relative;
}

h1{
  float: left;
  font-size: 30px;
  margin: 10px;
  font-style: italic;
  font-weight: normal;
}


h2{
  text-align: center;
  font-style: italic;

}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:860px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:860px) {
  ul.topnav.responsive {
    position: relative;
    z-index: 999;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    padding: 14px 16px;

  }
}

#all{
  min-height: 100%;
  margin: 5px;
}

.camera{
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#video-box{
  overflow: hidden;
  position: relative;
  width: 30%;
  height: 100%;
  margin: 0 auto;
}

.photo_buttons{
  text-align: center;
  margin: 5 auto;
  display: block;
}

#loading{
  display:inline-block;
}

#photoButton{
  display:inline-block;
  font-size: 15px;
  margin: 5px;
  color: white;
  border: none;
  background-color: rgb(30, 45, 91);
  cursor: pointer;
  border-radius: 3px;
}

button:active,
button.active {
  background-color: #417cb8;
  transform: translateY(2px) translateX(1px);
}

#select {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  cursor: pointer;
  color: rgb(30, 45, 91);
}

#select:hover {
  text-decoration: underline;
}

#choose{
  font-size: 15px;
  border-radius: 3px;
  box-sizing: content-box;
  background-color: rgb(30, 45, 91);
  color: white;
  border: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#centered{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5 auto;
}

.filters{

  width: 30%;
  display: inline-block;
  overflow-x: auto;
  margin: 5px;
}

.filters ul {
  width: 1000px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.filters ul li {
  list-style: none;
  float: left;
}

.filters img {
  width: 100px;
  height: auto;
}

/*.filt{
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 100px;
}*/

#filterButtons {
  width: 100%;
  text-align: center;
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
}

#reset{
  color: black;
  background: white;
}

#text{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  color: rgb(30, 45, 91);
}

button{
  display:inline-block;
  font-size: 15px;
  margin: 5px;
  color: white;
  border: none;
  background-color: rgb(30, 45, 91);
  cursor: pointer;
  border-radius: 3px;
}

.playground{
  width: 100%;
  position: relative;
  text-align: center;

}

.test{
  width: 30%;
  min-width: 400px;
  margin: 1%;
  text-align: center;
  display: inline-block;
}


.photo_style{
box-shadow: 2px 2px 2px #888888;
padding: 10px;
background-color: white;
  /*width: 30%;*/
  /*min-width: 400px;*/
  /*margin: 1%;*/
  /*text-align: center;*/
  /*display: inline-block;*/
}


.footer{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    overflow: hidden;
}

#color_filter{
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 500px){
  .footer{
    font-size: 10px;
  }
  header h1{
    font-size: 20px;
  }
}

@media (max-width: 630px){
  /*#video{
    min-width: 315px;
        min-height: 236px;
}*/
#filterButtons {
  width: 250px;
  text-align: center;
  margin: auto;

}
