html, body{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

header{
  position: relative;
  display: block;
  color: white;
  overflow: hidden;
  background-color: #333;
  height: 50px;
  z-index: 999;
}

header h1{
  float: left;
  font-size: 30px;
  margin: 10px;
  font-style: italic;
  font-weight: normal;
}

header h1 a{
  text-decoration: none;
  color: white;
}

header li {
list-style: none;
 float: right;
}

header li a:hover {
  background-color: #555;
  padding: 16px;

}

header li a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: helvetica, arial, sans-serif;
  color: #f2f2f2;
  transition: 0.3s;
}

#container{
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  text-align: center;
  margin: auto;
}

img {
  width: 320px;
  height: 300px;
}

#email, #password {
  display: inline-block;
  font-size: 30px;
  font-family: helvetica, arial, sans serif;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  border-color: #bdc7d8;
}

#button {
  font-size: 25px;
  display: inline-block;
  color: white;
  border: none;
  background-color: rgb(30, 45, 91);
  cursor: pointer;
  border-radius: 3px;
}

form tr td {
  display: inline-block;
  margin-bottom: 5px;
}

#pass{
  color: rgb(30, 45, 91);
  font-size: 15px;
  font-family: helvetica, arial, sans-serif !important;
  text-decoration: none;
  text-align: center;
}

.forgotpasswd a{
  text-decoration: underline solid white;
  color: rgb(30, 45, 91);
}


.footer{
  width: 100%;
  height: 20px;
  background-color: #333;
  color: white;
  position: absolute;
  text-align: center;
  bottom: 0px;
}

@media (max-width:600px)
{
  .footer{
    font-size: 10px;
  }
}

/*@media (max-height: 515px)
{
  img{
    display: none;
  }
}*/
/*
  section img{
    width: 200px;
    height: 180px;
  }
  #email, #password {
    font-size: 20px;
    font-family: helvetica, arial, sans serif;
    width: 200px;
    height: 20px;
  }
  #button {
    font-size: 15px;

  }
  #pass{
    color: rgb(30, 45, 91);
    font-size: 10px;
    font-family: helvetica, arial, sans-serif !important;
    text-decoration: none;
    /*margin-left: 80px;*/
  }
}
*/
