html, body{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a a:visited a:hover a:active{
  color : none;
}

header{
  display: block;
  color: white;
  overflow: hidden;
  background-color: #333;
  height: 50px;
  z-index: 999;
  position: relative;
  overflow: hidden;
}

li {
  list-style-type: none;
  float: right;
}

li a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: helvetica, arial, sans-serif;
  transition: 0.3s;
  color: #f2f2f2;
}

li a:hover {
  background-color: #555;
  padding: 16px;
}

header h1{
  float: left;
  font-size: 30px;
  margin: 10px;
  font-style: italic;
  font-weight: normal;
}

#register{
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#formpage{
  width: 100%;
  text-align: center;
}

img {
  width: 320px;
  height: 300px;
}

#pseudo, #mail, #mdp{
  font-size: 30px;
  font-family: helvetica, arial, sans serif;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  border-color: #bdc7d8;
}

#submit {
  font-size: 25px;
  color: white;
  border: none;
  background-color: rgb(30, 45, 91);
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  margin-top: 10px;
}

form tr td {
  display: inline-block;
  margin-bottom: 5px;
}


.footer{
  width: 100%;
  height: 20px;
  background-color: #333;
  color: white;
  position: absolute;
  text-align: center;
  bottom: 0;
  overflow: hidden;
}

@media (max-width:414px)
{
  .footer{
    font-size: 10px;
  }

}
