html, body{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(242, 242, 242);
  background-size: cover;
position: absolute;
width: 100%;
height: 100%;
}

a a:visited a:hover a:active{
  color : none;
}


header{
  display: block;
  color: white;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

li {
  list-style-type: none;
  float: right;
}

li a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: helvetica, arial, sans-serif;

}

li a:hover {
  background-color: #111;
}

header h1{
  float: left;
  font-size: 30px;
  margin: 10px;
}

#register{
  background-size: cover;
  width: 100%;
  height: 100%;
}

#formpage{
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  background-image: url(./images/pol.png);
  background-repeat: no-repeat;
  background-position: center;

}

#formpage h1{
  width: 100%;
  font-family: lithos pro, sans serif;
  color: rgb(30, 45, 91);
  font-size: 50px;
  padding-top: 100px;

}


#pseudo, #mail, #mdp{
  font-size: 30px;
  font-family: helvetica, arial, sans serif;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  border-color: #bdc7d8;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 22px;
  padding-right: 22px;
}

#submit {
  font-size: 25px;
  margin: 40px;
  color: white;
  border: none;
  background-color: rgb(30, 45, 91);
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 20px;
}


.footer{

  width: 100%;
  height: 20px;
  background-color: #333;
  color: white;
  position: absolute;
  text-align: center;
  padding: 15px;
}