html, body{
  margin: 0;
  padding: 0;
}

a a:visited a:hover a:active{
  color : none;
}

header{
  display: block;
  color: white;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

header h1{
  float: left;
  font-size: 30px;
  margin: 10px;
  font-style: italic;
  font-weight: normal;
}

header li {
list-style: none;
 float: right;
}

header li a:hover {
  background-color: #555;
  padding: 16px;

}

header li a {
  /*color: white;*/
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: helvetica, arial, sans-serif;
  color: #f2f2f2;
  transition: 0.3s;

}

#picture{
 background-color: rgb(242, 242, 242);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height : auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#formpage{
  width: 65%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

section img {
  width: 320px;
  height: 300px;
}

table{
  padding-bottom: 20px;
}

#email, #password {
  display: inline-block;
  font-size: 30px;
  font-family: helvetica, arial, sans serif;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  border-color: #bdc7d8;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 22px;
  padding-right: 22px;
}

#button {
  font-size: 25px;
  margin: 5px;
  display: inline-block;
  color: white;
  border: none;
  background-color: rgb(30, 45, 91);
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 20px;
}

.member{
  color: rgb(30, 45, 91);
  font-size: 50px;
  font-family: helvetica, arial, sans-serif !important;
}

.member a {
  text-decoration: underline solid white;
  color: rgb(30, 45, 91);
  font-family: helvetica, arial, sans-serif !important;
}

#pass{
  color: rgb(30, 45, 91);
  font-size: 15px;
  font-family: helvetica, arial, sans-serif !important;
  text-decoration: none;
  margin-left: 80px;
}

.forgotpasswd a{
  text-decoration: underline solid white;
  color: rgb(30, 45, 91);
}


.footer{
  width: 100%;
  height: 20px;
  background-color: #333;
  color: white;
  position: relative;
  text-align: center;
  /*padding: 15px;*/
  bottom: 0px;
}

/*@media (max-width:414px)
{

}

@media*/
