button {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}

.playground {
  position: absolute;
  top: 0;
  left: 340px;
  right: 0;
  border: 8px solid black;
}

.margin {
  margin: 10px;
  width: 300px;
}

li {
  margin-left: -20px;
}

button {
  padding: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: white;
  background-color: #6496c8;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 5px #27496d;
}

button:active,
button.active {
  background-color: #417cb8;
  box-shadow: 0 3px #27496d;
  transform: translateY(2px) translateX(1px);
}

button:disabled,
button.disabled {
  background-color: darkgrey;
  box-shadow: 0 3px #27496d;
  transform: translateY(2px) translateX(1px);
}

.photo {
  box-shadow: 3px 3px 3px #888888;
  padding: 12px;
  background-color: white;
}
